<h2><%= link_to "New Map", new_map_path %></h2>

<% @maps.each do |map| %>
  <div class="map_thumb">
    <ul>
      <li><%= link_to "Name: #{map.name}", map%></li>
      <li>Query: <%= map.query %></li>
      <li><%= link_to "Edit Map", edit_map_path(map) %></li>
      <li><%= link_to "Delete Map", map_path(map), method: :delete %></li>
    </ul>
  </div>
<% end %>